USE [master]
GO
/****** Object:  Database [Gymphony]    Script Date: 25/02/2026 17:28:56 ******/
CREATE DATABASE [Gymphony]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoIndividual', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DEVELOPER\MSSQL\DATA\ProyectoIndividual.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoIndividual_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DEVELOPER\MSSQL\DATA\ProyectoIndividual_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gymphony].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gymphony]
GO
/****** Object:  Table [dbo].[Afiliaciones]    Script Date: 25/02/2026 17:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Afiliaciones](
	[Id] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[FechaAlta] [date] NOT NULL,
	[FechaBaja] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clases]    Script Date: 25/02/2026 17:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clases](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorarioEmpleados]    Script Date: 25/02/2026 17:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioEmpleados](
	[Id] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[DiaSemana] [int] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroAforo]    Script Date: 25/02/2026 17:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroAforo](
	[Id] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[HoraEntrada] [datetime] NOT NULL,
	[HoraSalida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservaSesiones]    Script Date: 25/02/2026 17:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaSesiones](
	[Id] [int] NOT NULL,
	[SesionId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[HoraReserva] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25/02/2026 17:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 25/02/2026 17:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CapacidadMaxima] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeguridadUsuarios]    Script Date: 25/02/2026 17:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeguridadUsuarios](
	[Id] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[Salt] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesiones]    Script Date: 25/02/2026 17:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesiones](
	[Id] [int] NOT NULL,
	[ClaseId] [int] NOT NULL,
	[EntrenadorId] [int] NOT NULL,
	[SalaId] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 25/02/2026 17:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Password] [nvarchar](255) NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellidos] [nvarchar](100) NULL,
	[Telefono] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[DNI] [nvarchar](20) NULL,
	[RutaFoto] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Afiliaciones] ([Id], [ClienteId], [FechaAlta], [FechaBaja]) VALUES (1, 2, CAST(N'2023-01-15' AS Date), CAST(N'2023-09-01' AS Date))
INSERT [dbo].[Afiliaciones] ([Id], [ClienteId], [FechaAlta], [FechaBaja]) VALUES (2, 3, CAST(N'2023-06-01' AS Date), NULL)
INSERT [dbo].[Afiliaciones] ([Id], [ClienteId], [FechaAlta], [FechaBaja]) VALUES (3, 4, CAST(N'2022-03-10' AS Date), CAST(N'2022-11-30' AS Date))
GO
INSERT [dbo].[Clases] ([Id], [Nombre], [Description]) VALUES (1, N'Spinning', N'Clase de alta intensidad en bicicleta estática con música.')
INSERT [dbo].[Clases] ([Id], [Nombre], [Description]) VALUES (2, N'Yoga', N'Sesión de relajación, flexibilidad y control postural.')
INSERT [dbo].[Clases] ([Id], [Nombre], [Description]) VALUES (3, N'CrossFit', N'Entrenamiento funcional de alta intensidad.')
GO
INSERT [dbo].[HorarioEmpleados] ([Id], [UsuarioId], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (1, 7, 1, CAST(N'09:00:00' AS Time), CAST(N'15:00:00' AS Time))
INSERT [dbo].[HorarioEmpleados] ([Id], [UsuarioId], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (2, 7, 2, CAST(N'09:00:00' AS Time), CAST(N'15:00:00' AS Time))
INSERT [dbo].[HorarioEmpleados] ([Id], [UsuarioId], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (3, 7, 3, CAST(N'09:00:00' AS Time), CAST(N'15:00:00' AS Time))
GO
INSERT [dbo].[RegistroAforo] ([Id], [ClienteId], [HoraEntrada], [HoraSalida]) VALUES (1, 3, CAST(N'2026-02-25T09:00:00.000' AS DateTime), CAST(N'2026-02-25T10:30:00.000' AS DateTime))
INSERT [dbo].[RegistroAforo] ([Id], [ClienteId], [HoraEntrada], [HoraSalida]) VALUES (2, 4, CAST(N'2026-02-24T18:15:00.000' AS DateTime), CAST(N'2026-02-24T19:45:00.000' AS DateTime))
INSERT [dbo].[RegistroAforo] ([Id], [ClienteId], [HoraEntrada], [HoraSalida]) VALUES (3, 5, CAST(N'2026-02-24T14:00:00.000' AS DateTime), CAST(N'2026-02-24T15:00:00.000' AS DateTime))
GO
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (2, N'Cliente')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (3, N'Entrenador')
GO
INSERT [dbo].[Salas] ([Id], [Nombre], [CapacidadMaxima]) VALUES (1, N'Sala Ciclo', 30)
INSERT [dbo].[Salas] ([Id], [Nombre], [CapacidadMaxima]) VALUES (2, N'Sala Zen', 20)
INSERT [dbo].[Salas] ([Id], [Nombre], [CapacidadMaxima]) VALUES (3, N'Box Principal', 40)
GO
INSERT [dbo].[Usuarios] ([Id], [RoleId], [Email], [Password], [Nombre], [Apellidos], [Telefono], [FechaNacimiento], [DNI], [RutaFoto]) VALUES (1, 1, N'12345', N'admin@gmail.com', N'Admin', N'Admin', N'1111-2222-3333', CAST(N'1985-05-10' AS Date), N'11111111A', NULL)
INSERT [dbo].[Usuarios] ([Id], [RoleId], [Email], [Password], [Nombre], [Apellidos], [Telefono], [FechaNacimiento], [DNI], [RutaFoto]) VALUES (2, 2, N'12345', N'laura@gmail.com', N'Laura', N'García', N'611000001', CAST(N'1990-08-20' AS Date), N'22222222B', NULL)
INSERT [dbo].[Usuarios] ([Id], [RoleId], [Email], [Password], [Nombre], [Apellidos], [Telefono], [FechaNacimiento], [DNI], [RutaFoto]) VALUES (3, 2, N'12345', N'alonso@gmail.com', N'Alonso', N'Garcia', N'611000002', CAST(N'1995-11-05' AS Date), N'33333333C', NULL)
GO
ALTER TABLE [dbo].[Afiliaciones]  WITH CHECK ADD  CONSTRAINT [FK_Afiliaciones_Usuarios] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Afiliaciones] CHECK CONSTRAINT [FK_Afiliaciones_Usuarios]
GO
ALTER TABLE [dbo].[HorarioEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_Horario_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[HorarioEmpleados] CHECK CONSTRAINT [FK_Horario_Usuarios]
GO
ALTER TABLE [dbo].[RegistroAforo]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Users] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[RegistroAforo] CHECK CONSTRAINT [FK_Attendance_Users]
GO
ALTER TABLE [dbo].[ReservaSesiones]  WITH CHECK ADD  CONSTRAINT [fk_booking_client] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservaSesiones] CHECK CONSTRAINT [fk_booking_client]
GO
ALTER TABLE [dbo].[ReservaSesiones]  WITH CHECK ADD  CONSTRAINT [fk_booking_session] FOREIGN KEY([SesionId])
REFERENCES [dbo].[Sesiones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservaSesiones] CHECK CONSTRAINT [fk_booking_session]
GO
ALTER TABLE [dbo].[SeguridadUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_Seguridad_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[SeguridadUsuarios] CHECK CONSTRAINT [FK_Seguridad_Usuarios]
GO
ALTER TABLE [dbo].[Sesiones]  WITH CHECK ADD  CONSTRAINT [FK_Sesiones_Salas] FOREIGN KEY([SalaId])
REFERENCES [dbo].[Salas] ([Id])
GO
ALTER TABLE [dbo].[Sesiones] CHECK CONSTRAINT [FK_Sesiones_Salas]
GO
ALTER TABLE [dbo].[Sesiones]  WITH CHECK ADD  CONSTRAINT [fk_session_class] FOREIGN KEY([ClaseId])
REFERENCES [dbo].[Clases] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sesiones] CHECK CONSTRAINT [fk_session_class]
GO
ALTER TABLE [dbo].[Sesiones]  WITH CHECK ADD  CONSTRAINT [fk_session_trainer] FOREIGN KEY([EntrenadorId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Sesiones] CHECK CONSTRAINT [fk_session_trainer]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [fk_usuariO_role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [fk_usuariO_role]
GO
USE [master]
GO
